.choix-rappel {
    text-align : center;
}

.goToMap{
    position: absolute;
    bottom : 1rem;
}

.position-icons-rappel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2rem;
    color: #00838f ;
}
