<section class="context">
    <h2 class="card-panel">{{enigme.title}}</h2>
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2">
            <div class="card">
                <div class="card-image lugdunum">
                </div> 
                <div class="card-content">
                    <p> {{enigme.context}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a routerLink='/stories/enigmes/form/1' class=" waves-effect waves-light btn col s6 offset-s3">Enigmes !</a>
    </div>
</section>