html {
    width: 140%;
  }
  
  .material-icons._title{
    margin-bottom: 2rem;
  }
  h2 {
    /* display: block; */
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
 
  iframe{
    display: block;
    margin:auto;
  }
  .waves-effect.waves-light.btn.col.s8.offset-s2{
    margin-bottom: .5rem;
    // background-color: $secondary-color;
  }
  .mapTitle{
    font-size:1.5rem;
    margin-top:0.5em;
  }
  #map {
    height: 350px;
  }
  .map {
    height: 350px;
  }