<div *ngIf = 'loading' class="preloader-wrapper active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>


    <section>
        <div class="row">
            <div class="card-panel col s10 offset-s1 m8 offset-m2">
                <!-- <agm-map >
                   
                  </agm-map> -->
                  <div id = 'map'></div>
            </div>
        </div>
    </section>
    <section class="row">
            <a class="goToPointI waves-effect waves-light btn col s10 offset-s1 m8 offset-m2">Se rendre au point d'intérêt</a>
            <a (click)='validatePosition()' class="goToEnigme waves-effect waves-light btn col s10 offset-s1 m8 offset-m2">Start</a>
    </section>
  

