<section>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-image imgAccueil">
                    <img src="../../../assets/img/launcher.jpg" alt="image"/>
                </div>
                <div class="card-content">
                    <p>
                        Promenades et enigmes sur Lyon.
                        Découvrez ou redécouvrez votre ville !
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <a routerLink='/stories/list'
            class="depart waves-effect waves-light btn col s6 offset-s3  m4 offset-m4 l2 offset-l5">Go!</a>
    </div>
</section>